# NOTE: It is not absolutely required (but highly recommended) that you have: `ignorecase = true`
# in your `.gitconfig` file to maximize compatibility with some of these exclusion patterns.

# NOTE: `/**` does not exclude the directory itself like in Phing.
# Use only a trailing `/` to achieve that here.

# Local

.~*

# Logs

*.log

# Backups

*~
*.bak

# Vendor

vendor/

# Node

node_modules/

# SASS

.sass-cache/

# IntelliJ

.idea/

# Sublime

*.sublime-workspace
*.sublime-project

# CTags

*.tags
*.ctags

# VCS

.git/

.svn/
_svn/

CVS/
.cvsignore

.bzr/
.bzrignore

.hg/
.hgignore

SCCS/
RCS/

# PC Files

$RECYCLE.BIN/
Desktop.ini
Thumbs.db
ehthumbs.db

# Mac Files

.AppleDB
.AppleDouble
.AppleDesktop
.com.apple.timemachine.donotpresent
Network Trash Folder
Temporary Items
.LSOverride
.Spotlight-V100
.VolumeIcon.icns
.TemporaryItems
.fseventsd
.DS_Store
.Trashes
.apdisk
Icon?
!Icons
._*

# AWS

.elasticbeanstalk/

# Vagrant

.vagrant/

# For shell glob patterns. This includes Git files too. We simply maintain this list together with `.gitignore`.
# *~;*.log;*.bak;node_modules;.idea;*.sublime-workspace;*.sublime-project;.git;.gitignore;.gitattributes;.gitmodules;.gitchange;.svn;_svn;CVS;.cvsignore;.bzr;.bzrignore;.hg;.hgignore;SCCS;RCS;$RECYCLE.BIN;Desktop.ini;Thumbs.db;ehthumbs.db;.AppleDB;.AppleDouble;.AppleDesktop;.com.apple.timemachine.donotpresent;Network Trash Folder;Temporary Items;.LSOverride;.Spotlight-V100;.VolumeIcon.icns;.TemporaryItems;.fseventsdv.DS_Store;.Trashes;.apdisk;._*;.elasticbeanstalk;.vagrant

# This list is for IntelliJ IDEA / PhpStorm `File Types` configuration. Some files we actually WANT to work with as part of a project.
# .sass-cache;.idea;*.sublime-workspace;*.sublime-project;.git;.svn;_svn;CVS;.bzr;.hg;SCCS;RCS;$RECYCLE.BIN;Desktop.ini;Thumbs.db;ehthumbs.db;.AppleDB;.AppleDouble;.AppleDesktop;.com.apple.timemachine.donotpresent;Network Trash Folder;Temporary Items;.LSOverride;.Spotlight-V100;.VolumeIcon.icns;.TemporaryItems;.fseventsdv.DS_Store;.Trashes;.apdisk;._*;.vagrant

# Custom code reinserted here via [custom] marker. Add your <custom></custom> comment markers here please.
