# NOTE: It is not absolutely required (but highly recommended) that you have: `ignorecase = true`
# in your `.gitconfig` file to maximize compatibility with some of these exclusion patterns.

# Local Dev
.~*

# Backups
*~
*.bak

# Node
node_modules/
npm-debug.log

# SASS
.sass-cache/

# IntelliJ
.idea/
*.ipr
*.iws

# Sublime
*.sublime-workspace
*.sublime-project

# VC Systems
CVS/
.cvsignore
.svn/
_svn/
.bzr/
.bzrignore
.hg/
.hgignore
SCCS/
RCS/

# PC Files
$RECYCLE.BIN/
Desktop.ini
Thumbs.db
ehthumbs.db

# Mac Files
.Spotlight-V100
.AppleDouble
.LSOverride
.DS_Store
.Trashes
Icon?
!Icons
._*

# Amazon Web Services
.elasticbeanstalk/

# Vagrant
.vagrant/

# For shell glob patterns. This includes Git files too. We simply maintain this list together with `.gitignore`.
# .~*;*~;*.bak;node_modules;npm-debug.log;.idea;*.ipr;*.iws;*.sublime-workspace;*.sublime-project;.git;.gitignore;.gitattributes;CVS;.cvsignore;.svn;_svn;.bzr;.bzrignore;.hg;.hgignore;SCCS;RCS;$RECYCLE.BIN;Desktop.ini;Thumbs.db;ehthumbs.db;.Spotlight-V100;.AppleDouble;.LSOverride;.DS_Store;.Trashes;._*;.elasticbeanstalk;.vagrant

# This list is for IntelliJ IDEA / PhpStorm `File Types` configuration. Some files we actually WANT to work with as part of a project.
# .sass-cache;.idea;*.ipr;*.iws;*.sublime-workspace;*.sublime-project;.git;CVS;.svn;_svn;.bzr;.hg;SCCS;RCS;$RECYCLE.BIN;Desktop.ini;Thumbs.db;ehthumbs.db;.Spotlight-V100;.AppleDouble;.LSOverride;.DS_Store;.Trashes;._*;.vagrant

# We also need to update the WebSharks™ Core `dirs_files::ignore()` method if this changes.
