source: .
destination: codex
extensions: [php,phar]
title: ZenCache Lite
exclude: [*/externals/*,*/unit-tests/*,*example.php]
accessLevels: [public,protected,private]
deprecated: yes
todo: yes
download: yes
debug: yes
php: no