$anchor-color: #033A63;
$anchor-hover-active-color: #467629;

$pre-code-color: #eee;
$pre-code-bg-color: #222;
$pre-code-box-shadow-color: #000;
$code-bg-color: rgba(178, 178, 178, 0.25);

$hr-bg-color-a: rgba(0, 0, 0, 0);
$hr-bg-color-b: rgba(0, 0, 0, 0.75);
$hr-bg-color-c: rgba(0, 0, 0, 0);

$img-screenshot-border-color: #afafaf;
$img-screenshot-box-shadow-color: rgba(0, 0, 0, 0.2);
$img-screenshot-bg-color: #fff;

$primary-switch-color: #000;
$primary-switch-bg-color: #f1e982;
$primary-switch-border-color: rgba(0, 0, 0, 0.07);
$primary-switch-box-shadow-color-a: rgba(0, 0, 0, 0.25);
$primary-switch-box-shadow-color-b: #fff;

$input-color: #333;
$input-bg-color: #e8e8e8;
$input-border-color: #848484;
$input-box-shadow-color: rgba(132, 132, 132, 0.5);

$input-focus-color: #000;
$input-focus-bg-color: #e2e2e2;
$input-focus-box-shadow-color-a: #fff;
$input-focus-box-shadow-color-b: rgba(132, 132, 132, 0.25);

$input-placeholder-color: rgba(0, 0, 0, 0.2);

$button-color: #fff;
$button-bg-color: #033A63;
$button-hover-bg-color: #467629;
$button-submit-bg-color: #467629;
$button-submit-hover-bg-color: #033A63;
$button-border-color: rgba(0, 0, 0, 0.5);
$button-box-shadow-color-a: rgba(0, 0, 0, 0.25);
$button-box-shadow-color-b: rgba(0, 0, 0, 0.2);
$button-box-shadow-color-c: rgba(255, 255, 255, 0.1);

$info-bg-color: #cadfed;
$info-border-color: #216095;

$notice-bg-color: #fffde8;
$notice-border-color: #e6db55;

$warning-bg-color: #ffefd3;
$warning-border-color: #e6db55;

$error-bg-color: #ffc0cb;
$error-border-color: #711e1e;

$heading-panel-togglers-bg-color: #033A63;

$panel-heading-color: #eee;
$panel-heading-hover-color: #fff;
$panel-heading-bg-color: #033A63;
$panel-heading-bg-color-fade: #20669A;
$panel-heading-box-shadow-color: rgba(0, 0, 0, 0.25);

$panel-body-color: #222;
$panel-body-p-color: #666;
$panel-body-p-notice-color: #000;
$panel-body-bg-color: #fff;
$panel-body-border-color: #848484;
$panel-body-box-shadow-color-a: rgba(0, 0, 0, 0.25);
$panel-body-box-shadow-color-b: rgba(0, 0, 0, 0.25);
