.plugin-menu-page-save {
  margin-top:                 2em;

  button {
  line-height:              1.3em;
  width:                    100%;
  }
}
.plugin-menu-page-save-and-update {
  margin-top:                 2em;

  button {
    line-height:              1.3em;
    display:                  inline;
    width:                    45%;
    margin-left:              1.5em;
  }
}
