.plugin-menu-page-section-heading {
  margin:                     1em;

  > small {
    margin:                   0;
    font-size:                65%;
    font-style:               italic;
    display:                  block;
    opacity:                  0.5;
  }
}
