@import url('//netdna.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.min.css');

/*
Align these with menu page.
*/
div.updated, div.error
{
	font-size : 120%;
	margin    : 25px 25px 25px 5px;
}

/*
Menu page styles.
*/
.plugin-menu-page
{
	font-size     : 14px;
	padding       : 25px;
	min-width     : 800px;
	margin        : 25px 25px 25px 5px;

	border-radius : 5px;
	background    : #ECECEC;
	border        : 1px solid #A4A4A4;
	box-shadow    : 0 0 2px 0 rgba(0, 0, 0, 0.2) !important;
}
.plugin-menu-page p:first-child,
.plugin-menu-page pre:first-child
{
	margin-top : 0;
}
.plugin-menu-page p:last-child,
.plugin-menu-page pre:last-child
{
	margin-bottom : 0;
}
.plugin-menu-page code
{
	font-family : 'Monaco', 'Menlo', 'Consolas', 'Courier New', monospace;
}
.plugin-menu-page pre.code
{
	padding    : 0;
	background : none;
}
.plugin-menu-page pre.code > code
{
	font-size     : 90%;
	color         : #EEEEEE;
	background    : #222222;
	overflow-x    : auto;
	max-width     : 100%;

	border-radius : 5px;
	padding       : 10px;
	display       : block;
	box-shadow    : 0 0 5px 1px #000000 inset, 0 0 1px 1px rgba(223, 245, 165, 0.5);
}
.plugin-menu-page img
{
	border : 0;
}
.plugin-menu-page img.screenshot
{
	float         : right;
	margin        : 0 0 15px 25px;

	border-radius : 5px;
	border        : 1px solid #AFAFAF;

	box-shadow    : 0 0 5px 0 rgba(0, 0, 0, 0.2) inset, 0 0 1px 0 rgba(72, 155, 88, 0.2);
	background    : #FFFFFF;
	padding       : 10px;
}
.plugin-menu-page hr
{
	margin : 25px 0 25px 0;
	border : 1px solid #91DD97;
}
.plugin-menu-page label
{
	-webkit-user-select : none;
	-moz-user-select    : none;
	user-select         : none;
}
.plugin-menu-page label.switch-primary
{
	display       : inline;
	font-size     : 130%;
	color         : #000000;

	margin        : 0;
	padding       : 10px;

	border-radius : 5px;
	background    : #F1E982;
	border        : 1px solid rgba(72, 82, 48, 0.2);
	box-shadow    : -1px -1px 0 0 rgba(0, 0, 0, 0.25) inset, 1px 1px 0 0 #FFFFFF inset;
}
.plugin-menu-page input:not([type='radio']):not([type='checkbox']),
.plugin-menu-page input:not([type='radio']):not([type='checkbox']):focus,
.plugin-menu-page select, .plugin-menu-page select:focus,
.plugin-menu-page textarea, .plugin-menu-page textarea:focus
{
	width       : 100%;
	height      : auto;

	margin      : 0;
	padding     : 5px;
	line-height : 1em;
	box-sizing  : border-box;
	border      : 1px solid rgba(13, 31, 47, 0.5);

	color       : #FFFFFF;
	background  : #73834B;
	box-shadow  : 0 0 1px 0 rgba(0, 0, 0, 0.5) inset, 0 0 1px 1px rgba(223, 245, 165, 0.5);
}
.plugin-menu-page input:not([type='radio']):not([type='checkbox']):focus,
.plugin-menu-page select:focus, .plugin-menu-page textarea:focus
{
	background : #637041;
}
.plugin-menu-page input::-webkit-input-placeholder
{
	color       : rgba(255, 255, 255, 0.2);
	font-style  : italic;
	padding-top : 3px;
}
.plugin-menu-page input::-moz-placeholder
{
	color       : rgba(255, 255, 255, 0.2);
	font-style  : italic;
	padding-top : 3px;
}
.plugin-menu-page input:-moz-placeholder
{
	color       : rgba(255, 255, 255, 0.2);
	font-style  : italic;
	padding-top : 3px;
}
.plugin-menu-page input:-ms-input-placeholder
{
	color       : rgba(255, 255, 255, 0.2);
	font-style  : italic;
	padding-top : 3px;
}
.plugin-menu-page input[disabled],
.plugin-menu-page select[disabled],
.plugin-menu-page textarea[disabled]
{
	opacity : 0.5;
}
.plugin-menu-page table
{
	margin : 1em 0 1em 0;
}
.plugin-menu-page button
{
	line-height         : 1em;
	font-size           : 150%;
	font-weight         : bold;
	color               : #FFFFFF;
	background          : #0E4152;

	border-radius       : 4px;
	border              : 1px solid rgba(0, 0, 0, 0.5);
	box-shadow          : 0 1px 1px 0 rgba(0, 0, 0, 0.25), -1px -1px 0 1px rgba(0, 0, 0, 0.2) inset, 1px 1px 0 1px rgba(255, 255, 255, 0.1) inset;

	margin              : 0;
	box-sizing          : border-box;
	padding             : 6px 12px 6px 12px;

	outline             : none;

	cursor              : pointer;
	-webkit-user-select : none;
	-moz-user-select    : none;
	user-select         : none;
}
.plugin-menu-page button:hover
{
	background : #0D1F2F;
}
.plugin-menu-page button:active
{
	-webkit-transform : scale(0.98, 0.98);
	transform         : scale(0.98, 0.98);
}
.plugin-menu-page button[type='submit']
{
	background : #5F7523;
}
.plugin-menu-page button[type='submit']:hover
{
	background : #4C6324;
}
.plugin-menu-page .pro-preview
{
	opacity : 0.5;
}
.plugin-menu-page .info,
.plugin-menu-page .notice,
.plugin-menu-page .warning,
.plugin-menu-page .error
{
	font-size     : 120%;
	padding       : 10px;
	margin        : 0 0 25px 0;
	border-radius : 5px;
}
.plugin-menu-page .info
{
	border     : 1px solid #35558A;
	background : #C9E0FA;
}
.plugin-menu-page .notice
{
	border     : 1px solid #E6DB55;
	background : #FFFBCC;
}
.plugin-menu-page .warning
{
	border     : 1px solid #D29A04;
	background : #FADDAB;
}
.plugin-menu-page .error
{
	border     : 1px solid #711E1E;
	background : #FABBC6;
}
.plugin-menu-page .monospace
{
	font-family : 'Monaco', 'Menlo', 'Consolas', 'Courier New', monospace;
}
.plugin-menu-page textarea.monospace
{
	white-space : pre;
}
.plugin-menu-page .clearfix:before,
.plugin-menu-page .clearfix:after
{
	display : table;
	content : ' ';
}
.plugin-menu-page .clearfix:after
{
	clear : both;
}

/*
Heading styles.
*/
.plugin-menu-page-heading
{
	padding-bottom : 15px;
	margin-bottom  : 25px;
	border-bottom  : 1px solid #CCCCCC;
}
.plugin-menu-page-heading button[type='submit'],
.plugin-menu-page-heading .plugin-menu-page-restore-defaults,
.plugin-menu-page-heading .plugin-menu-page-panel-togglers
{
	float : right;
}
.plugin-menu-page-heading .plugin-menu-page-restore-defaults,
.plugin-menu-page-heading .plugin-menu-page-panel-togglers
{
	margin : 0 15px 0 0;
}
.plugin-menu-page-heading .plugin-menu-page-upsells
{
	float      : right;
	clear      : right;

	max-width  : 375px;
	margin     : 10px 0 0 0;

	text-align : center;
}
.plugin-menu-page-heading .plugin-menu-page-upsells a
{
	line-height     : 1.5em;
	text-decoration : none;
	margin          : 0 5px 0 5px;
	display         : inline-block;
}
.plugin-menu-page-heading img
{
	width  : 403px;
	height : 77px;
}

/*
Panel styles.
*/
.plugin-menu-page-panel
{
	margin : 25px 0 25px 0;
}
.plugin-menu-page-panel:first-child
{
	margin-top : 0;
}
.plugin-menu-page-panel-heading
{
	display             : block;
	text-decoration     : none;

	z-index             : 1;
	position            : relative;

	padding             : 10px;
	font-size           : 150%;
	font-weight         : bold;
	color               : #EEEEEE;
	background          : #173B47;

	border-radius       : 5px;
	box-shadow          : 0 2px 2px 0 rgba(0, 0, 0, 0.25);

	cursor              : pointer;
	-webkit-user-select : none;
	-moz-user-select    : none;
	user-select         : none;
}
.plugin-menu-page-panel-heading:hover,
.plugin-menu-page-panel-heading.open
{
	color      : #FFFFFF;
	background : #0D1F2F;
}
.plugin-menu-page-panel-heading:after
{
	font-size   : 80%;
	content     : '\f078';
	font-weight : normal;
	font-family : 'FontAwesome';

	float       : right;
	margin      : 0 0 0 5px;
	display     : inline-block;
}
.plugin-menu-page-panel-heading.open:after
{
	content : '\f077';
}
.pro-preview .plugin-menu-page-panel-heading:after
{
	font-variant : small-caps !important;
	font-family  : sans-serif !important;
	content      : 'pro version only' !important;
}
.plugin-menu-page-panel-body
{
	z-index                    : 0;
	position                   : relative;
	display                    : none;

	padding                    : 25px;
	color                      : #333333;
	background                 : #D0DDAD;

	border-bottom-left-radius  : 5px;
	border-bottom-right-radius : 5px;

	box-shadow                 : 0 1px 1px 0 rgba(0, 0, 0, 0.5);
}
.plugin-menu-page-panel-body.open
{
	display : block;
}
.plugin-menu-page-panel-body .notice,
.plugin-menu-page-panel-body .info,
.plugin-menu-page-panel-body .warning,
.plugin-menu-page-panel-body .error
{
	font-size  : 100%;
	font-style : italic;

	padding    : 5px;
	margin     : 1em 0 1em 0;
	display    : table;
}
.plugin-menu-page-panel-body h3
{
	margin : 0 0 5px 0;
}
.plugin-menu-page-panel-body h3:first-child
{
	margin-top : 0;
}
.plugin-menu-page-panel-body h3 + p
{
	margin-top : 0;
}

/*
Save button styles.
*/
.plugin-menu-page-save button[type='submit']
{
	width       : 100%;
	line-height : 1.3em;
}